<div class="register-card">

  <nz-card>
      <form nz-form [formGroup]="validateForm" class="register-form" (ngSubmit)="submitForm()">
          <nz-form-item>
              <nz-form-control nzErrorTip="Please input your name!">
                  <nz-input-group nzPrefixIcon="user">
                      <input type="text" nz-input formControlName="name" placeholder="Name" />
                  </nz-input-group>
              </nz-form-control>
          </nz-form-item>
          <nz-form-item>
              <nz-form-control nzErrorTip="Please enter a valid email!">
                  <nz-input-group nzPrefixIcon="mail">
                      <input type="text" nz-input formControlName="email" placeholder="Email" />
                  </nz-input-group>
              </nz-form-control>
          </nz-form-item>
          <nz-form-item>
              <nz-form-control nzErrorTip="Please input your username!">
                  <nz-input-group nzPrefixIcon="user">
                      <input type="text" nz-input formControlName="userName" placeholder="Username" />
                  </nz-input-group>
              </nz-form-control>
          </nz-form-item>
          <nz-form-item>
              <nz-form-control nzErrorTip="Please input valid Password!">
                  <nz-input-group nzPrefixIcon="lock">
                      <input type="password" nz-input formControlName="password" placeholder="Password" />
                  </nz-input-group>
              </nz-form-control>
          </nz-form-item>
          <nz-form-item>
              <nz-form-control nzErrorTip="Please input valid Password!">
                  <nz-input-group nzPrefixIcon="lock">
                      <input type="password" nz-input formControlName="confirmPassword" placeholder="Confirm Password" />
                  </nz-input-group>
              </nz-form-control>
          </nz-form-item>
          <button nz-button class="register-form-button register-form-margin" [nzType]="'primary'">Register</button>
          Or
         <a routerLink="/auth/login">Login Now !</a>
      </form>
  </nz-card>
</div>