<mat-sidenav-container class="example-container">
    <mat-sidenav mode="over" opened={{sidenavOpened}} class="sidenav-container">
        <mat-toolbar> <!-- Added toolbar for the sidenav title -->
            <span class="spacer"></span>
            <span>Spyder Blogs</span>
            <span class="spacer"></span>
        </mat-toolbar>
        <mat-divider>
        </mat-divider>
        <mat-nav-list>
            <!-- <a mat-list-item> -->
                <a mat-list-item class="sidenav-item">
                    <mat-icon matListItemIcon>home</mat-icon>
                    <div matListItemTitle>Home</div>
                    <!-- <span style="font-size: 15px; margin: 0;padding: 0; display: flex; align-items: center;">Home</span> -->
                </a>
            <!-- </a> -->
            <a mat-list-item class="sidenav-item">
                <mat-icon matListItemIcon>home</mat-icon>
                <div matListItemTitle>Home</div>
                <!-- <span style="font-size: 15px; margin: 0;padding: 0; display: flex; align-items: center;">Home</span> -->
            </a>
            <a mat-list-item class="sidenav-item">
                <mat-icon matListItemIcon>home</mat-icon>
                <div matListItemTitle>Home</div>
                <!-- <span style="font-size: 15px; margin: 0;padding: 0; display: flex; align-items: center;">Home</span> -->
            </a>
        </mat-nav-list>
    </mat-sidenav>

    <!-- <mat-sidenav-content><mat-toolbar color="primary">
            <button mat-icon-button class="example-icon " aria-label="Example icon-button with menu icon"
                (click)="toggleSidenav()">
                <mat-icon>menu</mat-icon>
            </button>
            <span>Spyder Blogs</span>
            <span class="spacer"></span>

            <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
                <mat-icon>favorite</mat-icon>
            </button>
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                <mat-icon>share</mat-icon>
            </button>
        </mat-toolbar>
    </mat-sidenav-content> -->
 

</mat-sidenav-container>